.cardEventsSection {
    position: relative;
    width: calc(95% - 60px);
    left: 2.5%;
    top: 10px;
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(3, 1fr);
}

.otherEventsH2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    margin: 2rem 0 1rem;
}

.cardEventsSection > .card {
    padding: 10px;
    border-radius: 12px;
    box-shadow: var(--box-shadow);
    transition: transform .2s ease;
}

.cardEventsSection > .card:hover {
    transform: translateY(-5px);
}

.cardEventsSection > .card > .cardInt {
    position: relative;
    overflow: hidden;
    border-radius: 6px;
}

.cardEventsSection > .card > .cardInt > .badge {
    position: absolute;
    top: 3px;
    right: 3px;
    z-index: 1;
    font-size: 15px;
    font-weight: 900;
    background-color: var(--red-primary);
    color: var(--text-color-reverse);
    padding: 5px 10px;
    border-radius: 10px;
}

.cardEventsSection > .card > .cardInt > .previewWrapper {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 12px;
}

.cardEventsSection > .card > .cardInt > .cardData {
    font-size: 16px;
}

.cardEventsSection > .card > .cardInt > .cardData > .title {
    font-weight: bold;
    font-size: 18px;
    margin: 10px 0px;
}

.cardEventsSection > .card > .cardInt > .cardData > p {
    margin: 10px 0px;
}

.cardEventsSection > .card > .cardInt > .cardData > a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.cardEventsSection > .card > .cardInt > .cardData > a > button {
    margin: 15px 0px 5px;
    width: 80%;
}

@media (max-width: 769px) {
    .cardEventsSection {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .cardEventsSection {
        grid-template-columns: repeat(1, 1fr);
        width: 95%;
        left: 2.5%;
    }

    .cardEventsSection > .card > .cardInt > .previewWrapper {
        height: 150px;
    }
}