.cardEventsSection {
    position: relative;
    width: calc(95% - 60px);
    left: 2.5%;
    top: 10px;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(4, 1fr);
}

.otherEventsH2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    margin: 2rem 0 1rem;
}

.cardEventsSection>.card {
    padding: 8px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    transition: transform .2s ease;
}

.cardEventsSection>.card:hover {
    transform: translateY(-5px);
}

.cardEventsSection>.card>.cardInt {
    position: relative;
    overflow: hidden;
    border-radius: 6px;
}

.cardEventsSection>.card>.cardInt>.badge {
    position: absolute;
    top: 3px;
    right: 3px;
    z-index: 1;
    font-size: 13px;
    font-weight: 900;
    background-color: var(--red-primary);
    color: var(--text-color-reverse);
    padding: 5px 10px;
    border-radius: 10px;
}

.cardEventsSection>.card>.cardInt>.previewWrapper {
    position: relative;
    width: 100%;
    height: 140px;
    overflow: hidden;
    border-radius: 10px;
}

.cardEventsSection>.card>.cardInt>.cardData>.title {
    font-weight: bold;
    font-size: 18px;
}

.cardEventsSection>.card>.cardInt>.cardData>p {
    margin: 6px 0px;
    font-size: 14px;
}

.cardEventsSection>.card>.cardInt>.cardData>p.local>span{
    font-weight: bold;
}

.cardEventsSection>.card>.cardInt>.cardData>a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.cardEventsSection>.card>.cardInt>.cardData>a>button {
    margin: 12px 0px 4px;
    height: 40px;
    width: 60%;
}

@media (max-width: 769px) {
    .cardEventsSection {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .cardEventsSection {
        grid-template-columns: repeat(1, 1fr);
        width: 95%;
        left: 2.5%;
    }

    .cardEventsSection>.card>.cardInt>.previewWrapper {
        height: 150px;
    }
}