.comebackWrapper {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-size: 1.65rem;
    font-weight: 600;
    color: var(--text-color);
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    padding-bottom: 4px;
    transition: .3s ease;
}

.comebackWrapper:hover {
    gap: 15px;
}

.comebackWrapper::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: var(--text-color);
    transition: width 0.3s ease;
}

.comebackWrapper:hover::after {
    width: 100%;
}

.comebackWrapper>.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    color: inherit;
}

.comebackWrapper>.label {
    white-space: nowrap;
}