.modalContainer > .modalSection {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    background: rgba(0, 0, 0, 0.7);
}

.modalSection > .modalDiv {
    position: relative;
    background: var(--background);
    color: var(--text-color);
    box-shadow: var(--box-shadow);
    padding: 20px;
    border-radius: 20px;
    max-width: 90%;
    width: 400px;
}

.modalDiv > .modalClose {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.modalDiv > .modalClose:hover {
    transition: .3s ease-in-out;
    transform: scale(1.2);
}

.modalSection > .modalDiv > .modalIcon {
    text-align: center;
    margin: 10px 0px;
}

.modalSection > .modalDiv > .modalTitle,
.modalSection > .modalDiv > .modalMessage {
    margin: 20px 0px;
    text-align: center;
}

.modalSection > .modalDiv > .modalTitle,
.modalSection > .modalDiv > .modalError > .errorMessage {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: red;
    gap: 5px;
    padding: 10px 0px;
}