:root {
  --background: #F9F9F9;
  --background-reverse: #121212;
  --text-color: #121212;
  --text-color-reverse: #F9F9F9;
  --red-primary: #A33535;
  --box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.15);
}

.DarkTheme {
  --background: #121212;
  --background-reverse: #F9F9F9;
  --text-color: #FEFFFF;
  --text-color-reverse: #121212;
  --red-primary: #A33535;
  --box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
  background-color: var(--background);
  transition: color .4s ease-in-out, background .4s ease-in-out;
  /* ´CAUSE THE HEADER COMPONENTE */
  padding-top: 70px;
}