:root {
  /* Colors -> ( LightTheme ): */
  --background: #ffffff;
  --background-reverse: #000000;
  --text-color: #000000;
  --text-color-reverse: #ffffff;
  --red-primary: #b20000;
  --box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.7);
}

.DarkTheme {
  --background: #000000;
  --background-reverse: #ffffff;
  --text-color: #ffffff;
  --text-color-reverse: #000000;
  --box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.3);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  color: var(--text-color);
  background-color: var(--background);
  transition: color .4s ease-in-out, background .4s ease-in-out;
}