.header {
    position: sticky;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: fit-content;
    padding: 10px 20px;
    border-bottom: 1px solid var(--red-primary);
    background-color: var(--background);
    z-index: 900;
    transition: color .4s ease-in-out, background .4s ease-in-out;
}

@media (max-width: 480px) {
    .header {
        position: relative;
        justify-content: center;
        padding: 10px;
    }

    .header img {
        margin: 0 auto;
    }

    .header > :last-child {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
    }
}