.sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 60px;
    height: calc(100vh - 70px);
    padding: 10px 0;
    overflow: hidden;
    color: var(--text-color);
    background: var(--background);
    z-index: 999;
    border-right: 1px solid var(--red-primary);
    transition: width .3s ease-in-out, background .4s ease-in-out;
}

.sidebar~*,
.sidebar.closed~* {
    margin-left: 60px;
}

.sidebar:not(.closed):hover,
.sidebar.open~* {
    width: 220px;
    box-shadow: 0px 1px 5px var(--red-primary);
}

.sidebar svg {
    width: 1.3em;
    height: 1.3em;
    fill: currentColor;
    flex-shrink: 0;
}

.sidebar > .logo {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    gap: 15px;
    font-weight: bold;
    font-size: 18px;
}

.sidebar > .logo > .xAnimated {
    height: 1.3em;
    width: 1.3em;
    cursor: pointer;
    transition: transform .6s cubic-bezier(0.4, 0, 0.2, 1);
}

.sidebar > .logo > .xAnimated > .lineTopBottom {
    stroke-dasharray: 12 63;
    stroke: var(--text-color);
    fill: none;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition:
        stroke-dasharray 2s cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 2s cubic-bezier(0.4, 0, 0.2, 1);
}

.sidebar > .logo > .xAnimated > .line {
    stroke: var(--text-color);
    fill: none;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.sidebar:not(.closed):hover .xAnimated {
    transform: rotate(-45deg);
}

.sidebar:not(.closed):hover .xAnimated > .lineTopBottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
}

.sidebar > .logo > span {
    opacity: 0;
    visibility: hidden;
    white-space: nowrap;
    transition: opacity 0.3s ease 0.3s;
}

.sidebar:not(.closed):hover > .logo > span {
    opacity: 1;
    visibility: visible;
}

.sidebar > nav > ul {
    list-style: none;
    margin: 0;
    padding: 20px 0;
}

.sidebar > nav > ul > li > button {
    background-color: transparent;
    border: none;
    width: 100%;
}

.sidebar > nav > ul > li > a,
.sidebar > nav > ul > li > button {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px 20px;
    font-size: inherit;
    color: var(--text-color);
    text-decoration: none;
    transition: background 0.2s ease, color 0.2s ease;
}

.sidebar > nav > ul > li > a:not(.closed):hover,
.sidebar > nav > ul > li > button:not(.closed):hover {
    background: var(--background-reverse);
    color: var(--text-color-reverse);
}

.sidebar > nav > ul > li > a > span,
.sidebar > nav > ul > li > button > span {
    opacity: 0;
    visibility: hidden;
    white-space: nowrap;
    transition: opacity 0.3s ease 0.3s;
}

.sidebar:not(.closed):hover > nav > ul > li > a > span,
.sidebar:not(.closed):hover > nav > ul > li > button > span {
    opacity: 1;
    visibility: visible;
}

.sidebar > .profile,
.sidebar > a,
.sidebar > button {
    display: flex;
    align-items: center;
    margin-top: auto;
    padding: 10px 0px;
    width: 100%;
    gap: 10px;
}

.sidebar > a > div {
    width: 100%;
}

.sidebar > .profile > .avatarWrapper {
    position: relative;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    overflow: hidden;
    border: 1px solid var(--red-primary);
    flex-shrink: 0;
}

.sidebar > .profile > .avatarFallback {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    border: 1px solid var(--red-primary);
}

.sidebar > .profile > .info {
    opacity: 0;
    visibility: hidden;
    white-space: nowrap;
    transition: opacity .3s ease .3s;
    max-width: 10%;
}

.sidebar > .profile > .info > p {
    text-transform: capitalize;
}

.sidebar:not(.closed):hover > .profile > .info {
    opacity: 1;
    visibility: visible;
}

.sidebar > .profile > .logout {
    opacity: 0;
    visibility: hidden;
    white-space: nowrap;
    transition: opacity 0.3s ease 0.3s;
}

.sidebar:not(.closed):hover > .profile > .logout {
    cursor: pointer;
    opacity: 1;
    visibility: visible;
    transform: scale(1.05);
    margin-left: auto;
    color: var(--red-primary);
}

.sidebar:not(.closed):hover > .profile > .logout:not(.closed):hover {
    transform: scale(1.1);
}

.sidebar > .profile > .info > p,
.sidebar > .profile > .info > small {
    margin: 0;
}

.profileForm > .formGroup {
    text-align: start;
    margin-top: 30px;
}

.profileForm > .formGroup > label {
    font-size: 18px;
    color: var(--red-primary);
    margin: 30px 0px 0px 10px;
}

@media (max-width: 480px) {
    .sidebar {
        position: fixed;
        top: 0px;
        left: 0px;
        border: none;
        width: 65px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid var(--red-primary);
    }

    .sidebar > .logo > span,
    .sidebar > nav,
    .sidebar > .profile,
    .sidebar > a {
        display: none;
    }

    .sidebar~*,
    .sidebar.closed~* {
        margin-left: 0px;
    }

    .sidebar:not(.closed):hover,
    .sidebar.open~* {
        width: 220px;
    }

    .sidebar:not(.closed):hover {
        border-right: 1px solid var(--red-primary);
        width: 220px;
        height: 100vh;
        padding: 10px 0;
        overflow: hidden;
    }

    .sidebar > .logo {
        width: 100%;
        padding: 0px 10px;
    }

    .sidebar > .logo > .xAnimated {
        height: 50px;
        width: 50px;
    }

    .sidebar:not(.closed):hover > .logo > span,
    .sidebar:not(.closed):hover > nav,
    .sidebar:not(.closed):hover > a {
        display: block;
    }

    .sidebar:not(.closed):hover > .profile,
    .sidebar:not(.closed):hover > a {
        display: inline;
        display: flex;
        margin-bottom: 70px;
    }

    .sidebar:not(.closed):hover > nav > ul {
        display: block;
    }

    .sidebar:not(.closed):hover > nav > ul > li > a > span {
        display: inline;
        opacity: 1;
        visibility: visible;
    }
}