.eventDetailPage > .buttonComeback {
    max-width: 800px;
    width: 95%;
    margin: 1rem auto;
}

.eventDetailPage > .detailPageInfo {
    max-width: 800px;
    width: 95%;
    margin: 1rem auto;
    box-shadow: var(--box-shadow);
    border-radius: 20px;
    overflow: hidden;
    transition: background 0.4s, color 0.4s;
}

.eventDetailPage > .detailPageInfo > .detailPageHeader {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

.eventDetailPage > .detailPageInfo > .title {
    font-size: 1.75rem;
    font-weight: 600;
    text-align: center;
    margin: 10px auto 20px;
}

.eventDetailPage > .detailPageInfo > .infoItem {
    display: block;
    padding: 0px 0px 30px 10px;
}

.eventDetailPage > .detailPageInfo > .infoItem > .icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    color: var(--red-primary);
}

.eventDetailPage > .detailPageInfo > .infoItem > .label {
    display: inline-block;
    vertical-align: middle;
    font-weight: 600;
}

.eventDetailPage > .detailPageInfo > .infoItem > .infoText {
    font-weight: 400;
    margin-left: 30px;
}

.eventDetailPage > .detailPageInfo > .subscribe {
    width: 80%;
    margin: 20px auto 10px;
}

.eventDetailPage > .cardContainer {
    padding: 20px 0px;
}

.form > .fieldGroup {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 5px;
}

.form > .fieldGroup > .select {
    padding: 5px;
    outline: none;
    border: none;
    border-radius: 7px;
    box-shadow: var(--box-shadow);
}

@media (max-width: 480px) {
    .eventDetailPage > .detailPageInfo > .detailPageHeader {
        height: 230px;
    }

    .eventDetailPage > .detailPageInfo > .infoItem > .label {
        display: inline;
    }
}